In [3]:
from datetime import datetime

In [7]:
datetime.now().strftime("%d-%m-%y-%H-%M-%S")

'24-01-25-10-21-52'

In [35]:
import logging

# Basic configuration
logging.basicConfig(level=logging.DEBUG)

# Logging messages
logging.debug("This is a debug message")
logging.info("This is an info message")
logging.warning("This is a warning message")
logging.error("This is an error message")
logging.critical("This is a critical message")

2025-01-24 10:59:28,040 - DEBUG - This is a debug message
2025-01-24 10:59:28,041 - INFO - This is an info message
2025-01-24 10:59:28,043 - WARNING - This is a warning message
2025-01-24 10:59:28,044 - ERROR - This is an error message
2025-01-24 10:59:28,047 - CRITICAL - This is a critical message

In [21]:
import sys 
try:
    10/0
except Exception as e:
    er_cls,er_mess,tab = sys.exc_info()
    print(er_cls)

    print(er_mess)
    print(tab)

<class 'ZeroDivisionError'>
division by zero
<traceback object at 0x0000018E7EFA1200>

In [32]:
import logging,os 
from datetime import datetime

dir_name = "insurance_logs"
# os.makedirs(dir_name,exist_ok=True)

time_stamp = datetime.now().strftime("%d-%m-%y %H-%M-%S")
file_name = time_stamp + ".log"
log_file_path = os.path.join(dir_name,file_name)
print(log_file_path)

insurance_logs\24-01-25 10-53-54.log

In [37]:
import logging,os 
from datetime import datetime

dir_name = "insurance_logs"
os.makedirs(dir_name,exist_ok=True)

time_stamp = datetime.now().strftime("%d-%m-%y %H-%M-%S")
file_name = time_stamp + ".log"
log_file_path = os.path.join(dir_name,file_name)

logging.basicConfig(filename=log_file_path,filemode='w',level=logging.DEBUG,format='%(asctime)s - %(levelname)s - %(message)s')

In [38]:
logging.info('hii this is ranjit')

2025-01-24 11:04:34,705 - INFO - hii this is ranjit

In [75]:
# exception file. to control execution of our program
import sys

class InsuranceException(Exception):
    def __init__(self, error_message:Exception, error_detail:sys):
        super().__init__(error_message)
        self.error_message = InsuranceException.error_message_detail(error_message,error_detail=error_detail)
    
    @staticmethod
    def error_message_detail(error:Exception, error_detail:sys)->str:
        error_class,error_mesage,exc_tb = error_detail.exc_info()
        line_number = exc_tb.tb_frame.f_lineno  # to get line number
        file_name = exc_tb.tb_frame.f_code.co_filename
        # formating of error message
        error_message = f"error occured in this {file_name} file, at the line no. [{line_number}], Error message :- [{error_mesage}]"
        return error_message
    
    def __str__(self):
        return InsuranceException.__name__.__str__()

In [76]:
try:
    10/0 
except Exception as e:

    stre = InsuranceException(e,sys)
    print(stre)

InsuranceException

In [77]:
class Ta:
    pass 
    def __str__(self):
        return "hiii therer"

obj = Ta()
print(obj)

hiii therer

In [79]:
Ta.__name__.__str__()

'Ta'

In [62]:
print(Ta())

TypeError: Ta.__str__() takes 0 positional arguments but 1 was given

In [51]:
print(Ta)

<class '__main__.Ta'>

In [45]:
import sys 
try:
    10/0 
except Exception as e:
    error_class,error_mesage,exc_tb = sys.exc_info()
    print(error_class)
    print(error_mesage)
    print(exc_tb)
    print()
    line_number = exc_tb.tb_frame.f_lineno  # to get line number 
    file_name = exc_tb.tb_frame.f_code.co_filename
    print(line_number)   
    print(file_name)

<class 'ZeroDivisionError'>
division by zero
<traceback object at 0x0000018E7EF47280>

10
C:\Users\Ranjit\AppData\Local\Temp\ipykernel_9212\752372585.py

In [2]:
import os 
from pymongo import  MongoClient
def connect_to_mongodb(mongodb_connection_string:str):
    try:
        client = MongoClient(mongodb_connection_string) 
        print("successfully connected with mongodb")
        return client 
    except Exception as e: 
        custom_exception = InsuranceException(e,sys)
        logging.error(f'Unable to connect with mongodb : {custom_exception.error_message}')
        raise InsuranceException(e,sys)
        return None

In [12]:
client = connect_to_mongodb(os.getenv("mongodb_connection_string"))

successfully connected with mongodb

In [13]:
colctn = client["mlproject_database"]["ml_collection"]

In [14]:
import pandas as pd

In [16]:
df = pd.DataFrame(list(colctn.find()))

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
train_df , test_df = train_test_split(df,test_size=0.2)

In [22]:
test_df

,_id,sex,bmi,children,smoker,region,charges
495,67946cb763c519983f7e99e7,female,23.180,2,no,northwest,14426.07385
89,67946cb763c519983f7e99d6,male,37.070,1,no,southeast,9048.02730
426,67946cb763c519983f7e99ee,female,28.310,1,no,northwest,7153.55390
108,67946cb763c519983f7e98fd,male,35.815,0,no,northwest,4320.41085
138,67946cb763c519983f7e98a9,female,31.350,0,no,northwest,12622.17950
...,...,...,...,...,...,...,...
318,67946cb763c519983f7e98ab,male,24.700,0,no,northeast,12323.93600
348,67946cb763c519983f7e98c1,female,19.855,0,no,northeast,5458.04645
360,67946cb763c519983f7e9964,male,26.030,1,yes,northwest,16450.89470
157,67946cb763c519983f7e99cb,female,18.600,0,no,southwest,1728.89700
385,67946cb763c519983f7e9913,female,35.800,1,no,southwest,11674.13000

In [23]:
class Student:
    def __init__(self):
        self.var1 = 100 
        self.var2  = 200

In [24]:
obj = Student()
obj.var1

100

In [31]:
from dataclasses import dataclass 

@dataclass
class College:
    College_name:str 
    College_city:str

In [32]:
obj = College() 
obj.College_city

TypeError: College.__init__() missing 2 required positional arguments: 'College_name' and 'College_city'