In [3]:
from datetime import datetime

In [7]:
datetime.now().strftime("%d-%m-%y-%H-%M-%S")

'24-01-25-10-21-52'

In [35]:
import logging

# Basic configuration
logging.basicConfig(level=logging.DEBUG)

# Logging messages
logging.debug("This is a debug message")
logging.info("This is an info message")
logging.warning("This is a warning message")
logging.error("This is an error message")
logging.critical("This is a critical message")

2025-01-24 10:59:28,040 - DEBUG - This is a debug message
2025-01-24 10:59:28,041 - INFO - This is an info message
2025-01-24 10:59:28,043 - WARNING - This is a warning message
2025-01-24 10:59:28,044 - ERROR - This is an error message
2025-01-24 10:59:28,047 - CRITICAL - This is a critical message

In [21]:
import sys 
try:
    10/0
except Exception as e:
    er_cls,er_mess,tab = sys.exc_info()
    print(er_cls)

    print(er_mess)
    print(tab)

<class 'ZeroDivisionError'>
division by zero
<traceback object at 0x0000018E7EFA1200>

In [32]:
import logging,os 
from datetime import datetime

dir_name = "insurance_logs"
# os.makedirs(dir_name,exist_ok=True)

time_stamp = datetime.now().strftime("%d-%m-%y %H-%M-%S")
file_name = time_stamp + ".log"
log_file_path = os.path.join(dir_name,file_name)
print(log_file_path)

insurance_logs\24-01-25 10-53-54.log

In [37]:
import logging,os 
from datetime import datetime

dir_name = "insurance_logs"
os.makedirs(dir_name,exist_ok=True)

time_stamp = datetime.now().strftime("%d-%m-%y %H-%M-%S")
file_name = time_stamp + ".log"
log_file_path = os.path.join(dir_name,file_name)

logging.basicConfig(filename=log_file_path,filemode='w',level=logging.DEBUG,format='%(asctime)s - %(levelname)s - %(message)s')

In [15]:
# from source_code.dbconfig import connect_to_mysql
import mysql 

def connect_to_mysql(host:str,mysql_user:str,mysql_password:str,mysql_database_name:str):
    try:
        # Connect to the MySQL server
        connection = mysql.connector.connect(
            host='localhost',      
            user=mysql_user,           
            password=mysql_password,       
            database=mysql_database_name # Replace with your database nam # Enable loading local files
        )
        logging.info("connecting to with database..")
        
        if connection.is_connected():
            print("Connected to MySQL Server")
            logging.info("Successfully connected with database!")
            return connection
    except Exception as e:
        print(e)

In [18]:
sql_connection=mysql.connector.connect(host="130",
                                user="",
                                password="",
                                database='room')
if sql_connection.is_connected():
    print("connected")
else:
    print("unable connected")

connected

In [38]:
logging.info('hii this is ranjit')

2025-01-24 11:04:34,705 - INFO - hii this is ranjit

In [75]:
# exception file. to control execution of our program
import sys

class InsuranceException(Exception):
    def __init__(self, error_message:Exception, error_detail:sys):
        super().__init__(error_message)
        self.error_message = InsuranceException.error_message_detail(error_message,error_detail=error_detail)
    
    @staticmethod
    def error_message_detail(error:Exception, error_detail:sys)->str:
        error_class,error_mesage,exc_tb = error_detail.exc_info()
        line_number = exc_tb.tb_frame.f_lineno  # to get line number
        file_name = exc_tb.tb_frame.f_code.co_filename
        # formating of error message
        error_message = f"error occured in this {file_name} file, at the line no. [{line_number}], Error message :- [{error_mesage}]"
        return error_message
    
    def __str__(self):
        return InsuranceException.__name__.__str__()

In [76]:
try:
    10/0 
except Exception as e:

    stre = InsuranceException(e,sys)
    print(stre)

InsuranceException

In [77]:
class Ta:
    pass 
    def __str__(self):
        return "hiii therer"

obj = Ta()
print(obj)

hiii therer

In [79]:
Ta.__name__.__str__()

'Ta'

In [62]:
print(Ta())

TypeError: Ta.__str__() takes 0 positional arguments but 1 was given

In [51]:
print(Ta)

<class '__main__.Ta'>

In [45]:
import sys 
try:
    10/0 
except Exception as e:
    error_class,error_mesage,exc_tb = sys.exc_info()
    print(error_class)
    print(error_mesage)
    print(exc_tb)
    print()
    line_number = exc_tb.tb_frame.f_lineno  # to get line number 
    file_name = exc_tb.tb_frame.f_code.co_filename
    print(line_number)   
    print(file_name)

<class 'ZeroDivisionError'>
division by zero
<traceback object at 0x0000018E7EF47280>

10
C:\Users\Ranjit\AppData\Local\Temp\ipykernel_9212\752372585.py

In [2]:
import os 
from pymongo import  MongoClient
def connect_to_mongodb(mongodb_connection_string:str):
    try:
        client = MongoClient(mongodb_connection_string) 
        print("successfully connected with mongodb")
        return client 
    except Exception as e: 
        custom_exception = InsuranceException(e,sys)
        logging.error(f'Unable to connect with mongodb : {custom_exception.error_message}')
        raise InsuranceException(e,sys)
        return None

In [12]:
client = connect_to_mongodb(os.getenv("mongodb_connection_string"))

successfully connected with mongodb

In [13]:
colctn = client["mlproject_database"]["ml_collection"]

In [14]:
import pandas as pd

In [16]:
df = pd.DataFrame(list(colctn.find()))

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
train_df , test_df = train_test_split(df,test_size=0.2)

In [22]:
test_df

,_id,sex,bmi,children,smoker,region,charges
495,67946cb763c519983f7e99e7,female,23.180,2,no,northwest,14426.07385
89,67946cb763c519983f7e99d6,male,37.070,1,no,southeast,9048.02730
426,67946cb763c519983f7e99ee,female,28.310,1,no,northwest,7153.55390
108,67946cb763c519983f7e98fd,male,35.815,0,no,northwest,4320.41085
138,67946cb763c519983f7e98a9,female,31.350,0,no,northwest,12622.17950
...,...,...,...,...,...,...,...
318,67946cb763c519983f7e98ab,male,24.700,0,no,northeast,12323.93600
348,67946cb763c519983f7e98c1,female,19.855,0,no,northeast,5458.04645
360,67946cb763c519983f7e9964,male,26.030,1,yes,northwest,16450.89470
157,67946cb763c519983f7e99cb,female,18.600,0,no,southwest,1728.89700
385,67946cb763c519983f7e9913,female,35.800,1,no,southwest,11674.13000

In [23]:
class Student:
    def __init__(self):
        self.var1 = 100 
        self.var2  = 200

In [24]:
obj = Student()
obj.var1

100

In [31]:
from dataclasses import dataclass 

@dataclass
class College:
    College_name:str 
    College_city:str

In [32]:
obj = College() 
obj.College_city

TypeError: College.__init__() missing 2 required positional arguments: 'College_name' and 'College_city'

In [3]:
import seaborn as sns

In [5]:
num_col = df.select_dtypes(exclude='O') 
num_col.head()

   age     bmi  children      charges
0   19  27.900         0  16884.92400
1   18  33.770         1   1725.55230
2   28  33.000         3   4449.46200
3   33  22.705         0  21984.47061
4   32  28.880         0   3866.85520

In [9]:
# print(sns.pairplot.__doc__)

In [13]:
# sns.boxplot(num_col['charges'])

In [4]:
import pandas as pd

# Load the dataset
df = pd.read_csv("insurance.csv")

In [15]:
from sklearn.preprocessing import OneHotEncoder,LabelEncoder,OrdinalEncoder

In [20]:
encoder = OneHotEncoder()
df2 = encoder.fit_transform(df.select_dtypes(include='O'))

In [21]:
encoder.get_feature_names_out()

array(['sex_female', 'sex_male', 'smoker_no', 'smoker_yes',
       'region_northeast', 'region_northwest', 'region_southeast',
       'region_southwest'], dtype=object)

In [24]:
pd.DataFrame(df2.toarray(),columns=encoder.get_feature_names_out())

,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
1,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
2,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
3,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
4,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...
1333,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
1334,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
1335,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1336,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1337,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0

In [18]:
df2.toarray()

array([[1., 0., 0., ..., 0., 0., 1.],
       [0., 1., 1., ..., 0., 1., 0.],
       [0., 1., 1., ..., 0., 1., 0.],
       ...,
       [1., 0., 1., ..., 0., 1., 0.],
       [1., 0., 1., ..., 0., 0., 1.],
       [1., 0., 0., ..., 1., 0., 0.]])

In [5]:
import pandas as pd

# Load the dataset
df = pd.read_csv("insurance.csv")

# Define validation functions
def validate_sex(value):
    return value in ["male", "female"]

def validate_bmi(value):
    return isinstance(value, (int, float)) and value > 0

def validate_children(value):
    return isinstance(value, int) and value >= 0

def validate_smoker(value):
    return value in ["yes", "no"]
def validate_age(value):
    return isinstance(value, int) and value >= 0 and value <= 100

def validate_region(value):
    return value in ["southeast", "southwest", "northeast", "northwest"]

def validate_charges(value):
    return isinstance(value, (int, float)) and value >= 0

# Apply validation checks
invalid_rows = df[
    (~df["age"].apply(validate_age))|
    (~df["sex"].apply(validate_sex)) |
    (~df["bmi"].apply(validate_bmi)) |
    (~df["children"].apply(validate_children)) |
    (~df["smoker"].apply(validate_smoker)) |
    (~df["region"].apply(validate_region)) |
    (~df["charges"].apply(validate_charges))
]

# Display validation results
if invalid_rows.empty:
    print("✅ Data is valid!")
else:
    print("⚠️ Invalid data found:")
    print(invalid_rows)

✅ Data is valid!

In [11]:
expected_columns = {"age", "sex", "bmi", "children", "smoker", "region", "charges"} 
    
actual_columns = set(df.columns)
print(expected_columns)
print(actual_columns)

{'children', 'region', 'age', 'smoker', 'charges', 'bmi', 'sex'}
{'children', 'smoker', 'charges', 'region', 'age', 'bmi', 'sex'}

In [10]:
actual_columns ==  expected_columns

False

In [ ]:
expected_columns = {"age", "sex", "bmi", "children", "smoker", "region", "charges"} 
def validate_dataframe(df, expected_columns):
    actual_columns = set(df.columns)
    
    if actual_columns == expected_columns:
        print("✅ DataFrame is valid. It contains only the expected columns.")
        return True
    else:
        missing = expected_columns - actual_columns
        extra = actual_columns - expected_columns
        print("❌ DataFrame validation failed.")
        if missing:
            print(f"Missing columns: {missing}")
        if extra:
            print(f"Unexpected columns: {extra}")
        return False

# Validate the DataFrame
validate_dataframe(df, expected_columns)

In [4]:
b = invalid_rows.all(axis=1)

In [6]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [16]:
df.isnull().any(axis=1).sum()

0

In [10]:
# any , all  
ls = [True , True , True ,True ,False]
any(ls)

TypeError: 'list' object is not callable

In [ ]:
df.dropna(inplace=True)

In [5]:
df.isnull().sum().to_dict()

{'age': 0,
 'sex': 0,
 'bmi': 0,
 'children': 0,
 'smoker': 0,
 'region': 0,
 'charges': 0}

In [56]:
# df["sex"].apply(validate_sex)

In [60]:
df.loc[0,'sex'] = 'f'

In [61]:
df

      age     sex     bmi  children smoker     region      charges
0      19       f  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [24]:
all(list(df.isnull().loc[0].values))

False

In [37]:
(df["sex"].apply(validate_sex))

0       True
1       True
2       True
3       True
4       True
        ...
1333    True
1334    True
1335    True
1336    True
1337    True
Name: sex, Length: 1338, dtype: bool

In [35]:
(~df["sex"].apply(validate_sex)) | (~df["bmi"].apply(validate_bmi).value_counts())

C:\Users\Ranjit\AppData\Local\Temp\ipykernel_14376\3396481928.py:1: FutureWarning: Operation between non boolean Series with different indexes will no longer return a boolean result in a future version. Cast both Series to object type to maintain the prior behavior.
  (~df["sex"].apply(validate_sex)) | (~df["bmi"].apply(validate_bmi).value_counts())

0       False
1        True
2       False
3       False
4       False
        ...
1333    False
1334    False
1335    False
1336    False
1337    False
Length: 1338, dtype: bool

In [21]:
invalid_rows.empty

True

In [24]:
df.loc[0].empty

False